*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-family: Arial, Helvetica, sans-serif;
}
 /*    --------------------------------- css for desktop & above devices starts here for devices 1024px to 1440px ---------------------------*/

@media only screen and (min-width: 1024px) {

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


/* Top Nav Bar & Sectiobn CSS Starts Here for desktop 1024px to 1440px */

#top-section{
    width: clamp(1024px, 100%, 1440px);
    margin: auto;
    margin-top: 5px;
    /* padding: clamp(4px, .75vw, 16px); */
    display: flex;
    justify-content: space-between;
}
.top-nav{
    border: 1px solid #0C356A;
    display: inline-flex;
}
.top-nav > li {
    list-style-type: none;
}
.top-nav > li > a:link {
    text-decoration: none;
    color: #0C356A;
    padding: clamp(1px, .4vw, 8px);
    display: block;
    font-size: clamp(12px, 1vw, 14px);
}
#mob-number {
    font-weight: bold;
    font-size: clamp(12px, 1vw, 16px);
}
.top-nav > li > a:hover {
    background-color: #0C356A;
    color: #fff;
}

/* Top Nav Bar & Sectiobn CSS Ends Here */

/* Container CSS Starts Here.............. */
.container {
    width: clamp(1024px, 100%, 1440px);
    margin: auto;
}
/* Middle Menu CSS Starts Here ................... */

#middle-menu {
    display: flex;
    justify-content: space-between;
}
#middle-menu > div {
    display: flex;
    justify-content: center;
}
#logo-div {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#logo-div > a > p:first-child {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(24px, 2vw, 48px);    
    line-height: 80%;
}
#logo-div > a > p:nth-of-type(2) {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(18px, 1.5vw, 32px);
}
.book-now-img {
    width: 40vw;
}

.book-now-img > a > img {
    width: clamp(60px, 8vw, 120px);
    border-radius: 50%;
}

/* middle logo & book now images css ends here */



.main-menu {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0C356A;

}
.main-menu > a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}
.main-menu > a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.main-menu > a > img {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
/*  About CSS for Desktop Starts Here */
  }
  .about-section {
    display: flex;
    width: 100%w;
    height: 300px;
    padding-top: 1rem;
  }
.about-content {
    display: flex;
    width: 75%;
    height: 100%;
  }
.about-image {
    width: 30%;
  }
.about-image > img {
    width: 100%;
    height: 100%;
}

.about-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.about-heading > h1 {
    font-size: 1.5rem;
    font-weight: lighter;
}
.about-para > p {
    text-align: justify;
    line-height: 1.5rem;
    margin-top: .5rem;
}

.about-section > .about-getquote {
    width: 25%;
    height: 100%;
  }
  /* Get Quote on Home Page Starts Here */
 
  .about-getquote > form {
    padding: 5%;
  }
.fieldset > legend {
    font-size: 1rem;
    text-align: center;
}
.fieldset > label {
    width: 30%;
}
.fieldset > input {
    width: 70%;
    margin: 2% 2%;
}
.fieldset > input[type=submit] {
    margin: 5% 22.5%;
}

/* Keywords CSS Starts Here */

.keywords {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}
.keywords > a {
    text-decoration: none;
    color: #0C356A;
    border: 1px solid #0C356A;
    padding: .25rem .5rem;
}

/* Our Services on Main Page CSS Starts Here */
.services {
    display: flex;
    flex-wrap: wrap;
}
.services-heading {
    width: 100%;
}
.services-heading > p {
    font-size: 25px;
    text-align: center;
    background-color: #0174be;
}
.services-img {
    width: 25%;
    height: 250px;
}
.services-img > img {
    width: 100%;
    height: 100%;
}
/* Our Services on Main Page CSS Ends Here */

/* Testimonials on Main Page CSS Starts Here */
.testimonial-section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-heading {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.testimonial {
    width: 25%;
    text-align: center;
    margin: 30px;
    border: 1px solid #0C356A;
}
.testimonial > img {
    width: 150px;
    border-radius: 50%;
}
.testimonial-content {
    padding: 30px;
    text-align: justify;
}
/* Testimonials on Main Page CSS Ends Here */

/* Recent Searches Section CSS Starts Here */
.recent-section {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recent-heading {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}
.recent-content {
    width: 40%;
    text-align: center;
    margin: 25px;
    padding: 25px;
    border: 1px solid #0C356A;
}
.recent-content > p {
    font-size: 2rem;
}
.recent-content > a {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}
/* Recent Searches Section CSS Ends Here */

/* Footer menu for Desktop Starts Here */
.footer {
    width: 100%;
    height: 3vw;
    background-color: #0C356A;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    font-kerning: none;
    letter-spacing: 1px;
}
/* Footer menu for Desktop Ends Here */

        /* css for desktop devices ends here screen size 1024px to 1440px ..........................................................................  */

/* ------------------ CSS for Laptop Starts Here ------ 769px to 1023px ---------------------------------------------------------------------------- */

@media only screen and (min-width:769px) and (max-width:1023px) {

    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
    }
    
    
/* Top Nav Bar & Section CSS Starts Here */
    
#top-section{
    width: clamp(769px, 100%, 1023px);
    margin: auto;
    padding: clamp(4px, .75vw, 16px);
    display: flex;
    justify-content: space-between;
}
.top-nav{
    border: 1px solid #0C356A;
    display: inline-flex;
}
.top-nav > li {
    list-style-type: none;
}
.top-nav > li > a:link {
    text-decoration: none;
    color: #0C356A;
    padding: clamp(1px, .4vw, 8px);
    display: block;
    font-size: clamp(8px, 1vw, 12px);
}
#mob-number {
    font-weight: bold;
    font-size: clamp(12px, 1vw, 16px);
}
.top-nav > li > a:hover {
    background-color: #0C356A;
    color: #fff;
}
    
    /* Top Nav Bar & Sectiobn CSS Ends Here */

/* laptop Container CSS Starts Here */
.container {
    width: clamp(769px, 100%, 1023px);
    margin: auto;
}
/* laptop Header CSS Starts Here */

#middle-menu {
    display: flex;
    justify-content: space-between;
}
#middle-menu > div {
    display: flex;
    justify-content: center;
}
#logo-div {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#logo-div > a > p:first-child {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(24px, 2vw, 48px);    
    line-height: 80%;
}
#logo-div > a > p:nth-of-type(2) {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(18px, 1.5vw, 32px);
}
.book-now-img {
    width: 40vw;
}

.book-now-img > a > img {
    width: clamp(60px, 8vw, 120px);
    border-radius: 50%;
}

/* middle logo & book now images middle menu for laptop  css ends here */
/* Main Menu CSS For Laptop Starts Here */
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0C356A;

}
.main-menu > a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(3px, 5vw, 12px);
    font-weight: lighter;
    padding: clamp(1px, 1vw, 2px);
}
.main-menu > a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.main-menu > a > img {
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
/* Main Menu CSS For Laptop Ends Here */

}   
/* ------------------ CSS for Laptop Ends Here -------- 769px to 1095px -------------------------------------------------------------------- */

        
/* ------------------ CSS for Tablet Starts Here ------------------------------------------------------------------------------------------- */


@media only screen and (min-width:426px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
#top-section{
    width: clamp(426px, 100%, 768px);
    margin: auto;
    padding: clamp(4px, .75vw, 16px);
    display: flex;
    flex-wrap: wrap;
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#metro-cities-nav {
    margin-bottom: 5px;
}
#mob-nav {
    width: 30%;
    background-color: #0C356A;
    margin: 1px 0;
    padding: 2px 0;
}
#login-nav {
    width: 70%;
    background-color: #0C356A;
    margin: 1px 0;
    padding: 2px 0;
}
#login-nav > li > a:link {
    color: #fff;
}
.top-nav > li {
    list-style-type: none;
}
.top-nav > li > a:link {
    text-decoration: none;
    color: #0C356A;
    padding: clamp(1px, .4vw, 8px);
    display: block;
    font-size: clamp(14px, 1vw, 16px);
}
#mob-number {
    font-weight: bold;
    font-size: clamp(16px, 1vw, 16px);
    color: #fff;
}
.top-nav > li > a:hover {
    background-color: #0C356A;
    color: #fff;
}

/* Top Nav Bar & Sectiobn CSS Ends Here............ Tablet Media Query  */

/* Tablet Container CSS Starts Here */
.container {
    width: clamp(426px, 100%, 768px);
    margin: auto;
}
/* Tablet Header CSS Starts Here */

#middle-menu {
    display: flex;
    justify-content: space-between;
}
#middle-menu > div {
    display: flex;
    justify-content: center;
}
#logo-div {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#logo-div > a > p:first-child {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(16px, 2vw, 24px);    
    line-height: 80%;
}
#logo-div > a > p:nth-of-type(2) {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(12px, 1.5vw, 16px);
}
.book-now-img {
    width: 40vw;
}

.book-now-img > a > img {
    width: clamp(40px, 8vw, 80px);
    border-radius: 50%;
}

/* middle logo & book now images middle menu for Tablet  css ends here */

       
}


/* ------------------ CSS for Tablet Ends Here ----------------------------------------------------------------------------------------------- */


 /* css for mobile devices max device width 425px   ( device width between 320px to 425px ) starts here -----------------------------------------------*/


  @media only screen and (max-width: 425px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
  
/* Top Nav Bar & Section CSS Starts Here */


#top-section{
    width: clamp(360px, 100%, 425px);
    margin: auto;
    padding: clamp(4px, .75vw, 16px);
    display: flex;
    flex-wrap: wrap;
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#metro-cities-nav {
    margin-bottom: 5px;
}
#mob-nav {
    width: 30%;
    background-color: #0C356A;
    margin: 1px 0;
    padding: 2px 0;
}
#login-nav {
    width: 70%;
    background-color: #0C356A;
    margin: 1px 0;
    padding: 2px 0;
}
#login-nav > li > a:link {
    color: #fff;
}
.top-nav > li {
    list-style-type: none;
}
.top-nav > li > a:link {
    text-decoration: none;
    color: #0C356A;
    padding: clamp(1px, .4vw, 8px);
    display: block;
    font-size: clamp(12px, 1vw, 14px);
}
#mob-number {
    font-weight: bold;
    font-size: clamp(12px, 1vw, 16px);
    color: #fff;
}
.top-nav > li > a:hover {
    background-color: #0C356A;
    color: #fff;
}

/* Top Nav Bar & Sectiobn CSS Ends Here*/

/* Mobile Container CSS Starts Here */
.container {
    width: clamp(360px, 100%, 425px);
    margin: auto;
}
/* Mobile Header CSS Starts Here */

#middle-menu {
    display: flex;
    justify-content: space-between;
}
#middle-menu > div {
    display: flex;
    justify-content: center;
}
#logo-div {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
#logo-div > a > p:first-child {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(16px, 2vw, 24px);    
    line-height: 80%;
}
#logo-div > a > p:nth-of-type(2) {
    padding: 0;
    margin: 0;
    color: #0C356A;
    font-weight: bolder;
    font-size: clamp(12px, 1.5vw, 16px);
}
.book-now-img {
    width: 40vw;
}

.book-now-img > a > img {
    width: clamp(40px, 8vw, 80px);
    border-radius: 50%;
}

/* middle logo & book now images middle menu for Tablet  css ends here */



        /* css for mobile devices max device width 425px   ( device width between 320px to 425px ) Ends here */

       
}