/* ------------------ CSS for Tablet Starts Here ------------------------------------------------------------------------------------------- */


@media only screen and (min-width:425px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    #top-section {
        width: clamp(426px, 100%, 768px);
        margin: auto;
        padding: clamp(4px, .75vw, 16px);
        display: flex;
        flex-wrap: wrap;
    }

    .top-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #metro-cities-nav {
        margin-bottom: 5px;
    }

    #mob-nav {
        width: 30%;
        background-color: #0C356A;
        margin: 1px 0;
        padding: 2px 0;
    }

    #login-nav {
        width: 70%;
        background-color: #0C356A;
        margin: 1px 0;
        padding: 2px 0;
    }

    #login-nav>li>a:link {
        color: #fff;
    }

    .top-nav>li {
        list-style-type: none;
    }

    .top-nav>li>a:link {
        text-decoration: none;
        color: #0C356A;
        padding: clamp(1px, .4vw, 8px);
        display: block;
        font-size: clamp(14px, 1vw, 16px);
    }

    #mob-number {
        font-weight: bold;
        font-size: clamp(16px, 1vw, 16px);
        color: #fff;
    }

    .top-nav>li>a:hover {
        background-color: #0C356A;
        color: #fff;
    }

    /* Top Nav Bar & Sectiobn CSS Ends Here............ Tablet Media Query  */

    /* Tablet Container CSS Starts Here */
    .container {
        width: clamp(426px, 100%, 768px);
        margin: auto;
    }

    /* Tablet Header CSS Starts Here */

    #middle-menu {
        display: flex;
        justify-content: space-between;
    }

    #middle-menu>div {
        display: flex;
        justify-content: center;
    }

    #logo-div {
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-div>a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    #logo-div>a>p:first-child {
        padding: 0;
        margin: 0;
        color: #0C356A;
        font-weight: bolder;
        font-size: clamp(16px, 2vw, 24px);
        line-height: 80%;
    }

    #logo-div>a>p:nth-of-type(2) {
        padding: 0;
        margin: 0;
        color: #0C356A;
        font-weight: bolder;
        font-size: clamp(12px, 1.5vw, 16px);
    }

    .book-now-img {
        width: 40vw;
    }

    .book-now-img>a>img {
        width: clamp(40px, 8vw, 80px);
        border-radius: 50%;
    }

    /* middle logo & book now images middle menu for Tablet  css ends here */


}

@media (max-width: 768px) {

    .content-wrapper,
    .blog-wrapper,
    .testimonial-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .image-left,
    .image-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .text {
        padding: 0;
    }

    .blog-post,
    .testimonial {
        max-width: 100%;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-image,
    .about-text {
        flex: 1 1 100%;
    }

    .button-row {
        flex-direction: column;
    }

    .four-btn {
        margin: 10px 0;
    }
}
/* ------------------ CSS for Tablet Ends Here ----------------------------------------------------------------------------------------------- */

/* Responsive Design */
